.navbar-bg {
  background-color: #eb6440;
}
.navbar-bg img {
  transform: rotateZ(180deg);
}
.nav-item button[type="button"] {
  color: #fff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-item button[type="button"]:hover {
  color: black;
}
.fade {
  z-index: 30;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.modal {
  backdrop-filter: blur(4px);
  display: block;
}

